{% extends "base.html" %}

{% block content %}

    {% if login %}
    
    <div class='forum-info' class='forum'>
        <span> Total Posts: {{ total_posts }}</span>
    </div>
    <div class="forum">

        <table >
{% block logout %}
{% endblock logout %}


{% for data in post_list %}

            <tr>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td id="forum_name" class="forum_layout">{{data.poster}}</td>
                 <td></td>
                  <td id="forum_data_time">{{data.date}}</td>
            </tr>
            <tr>
                <td id="forum_avatar" class="forum_layout">
                    <img src="{{data.avatar}}"/>
                     <td></td>
                </td>
                <td class="forum_post" rowspan="2">{{data.post}}</td>
            </tr>
            <tr>
                <td id="tagline"><i>&quot;{{ data.tag }}&quot;</i></td>
            </tr>

{% endfor %}

        </table>

    </div>
    
    <div class="forum_post_entry">
         <br>

        <form method="post" action="/forum.html">

            <span id='error'>{{ error }}</span>
            <label>Enter Post</label>
            <br>
            <textarea class="post_area" name="post"  ></textarea>
            <br>
            <input type="submit" value="POST">
        </form>
    </div>
    {% else %}
        <b> Please login or <a href="/register.html">register</a> to continue!</b>
    {% endif %}


{% endblock %}